# Ignore user documents and data
documents/
data/
pipeline_data/

# Ignore specific dev/test scripts
src/inspect_tools.ipynb
src/main_data_status.py
src/main_testing_emnbeddings_dim.py
src/multi_handler_logging_config.py
src/testing_1.py

# Ignore environment files and folders
.env
*.env
env/
venv/
.venv/

# Ignore logs, temp files, and system junk
*.log
*.tmp
.DS_Store

# Ignore Python build and bytecode
__pycache__/
*.pyc

# Optionally ignore all Jupyter notebooks
# *.ipynb
pipeline_data/nn_models/
