# Ignore the documents directory
documents/

# Ignore the analysis_tools directory
/src/inspect_tools.ipynb
/src/main_data_status.py
/src/main_testing_emnbeddings_dim.py
/src/multi_handler_logging_config.py
/src/testing_1.py

# Ignore the data folder for now
data/

# Ignore input_output directories
pipeline_data/

# Ignore environment files
.env
env/



# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore logs and temp files
*.log
*.tmp
