# Ignore the documents directory
documents/

# Ignore the analysis_tools directory
analysis_tools/

# Ignore the data folder for now
data/

# Ignore input_output directories
input_output/

# Ignore environment files
.env
env/

# Ignore large files
input_output/models/embeddings.pkl
inference_embeddings.pkl

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore logs and temp files
*.log
*.tmp
